mesh-tensorflow
tensorflow-io
tensorflow-ops
tensorflow-addons
tensorflow-plot
tensorflow-datasets
tensorflow-probability
tensorflow-ranking
tensorflow-utils
tensorflow-cpu-estimator
intel-tensorflow
dask-tensorflow
tensorflow-template
tensorflow-gpu-estimator
